html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*, body {
	font-family: 'Spartan', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.stickyNav {
	position: sticky;
	width: 100%;
	top: 0px;
	z-index: 10;
}
.navbar {
	background-color: #f8f8f8;
}
.navbar-brand a {
	font-size: 1.5em;
	line-height: 1.4em;
	text-decoration: none;
}
.navbar-brand a:hover {
	text-decoration: inherit;
}
.stickyNav > .navbar {
	justify-content: space-between;
}
.nav-link, .nav-link:active,
.nav-link:visited {
	color: #0E1C36;
	font-weight: 500;
}
.navbar-nav .nav-link:hover {
	color: #81a2e0;
}
a, a:active, a:visited {
	color: #0E1C36;
}
.landing-intro {
	background: url('Icons/wave.svg') bottom no-repeat;
}
.form-inline {
	display: flex;
	justify-content: center;
}
.scrollDown {
	font-size: 5em;
	animation: scrollDown 0.9s ease-out 3 normal forwards;
}
.scrollDown a:hover {
	text-decoration: none;
	color: inherit;
}
.bestSellers .carousel-caption {
	background-color: #f0f0f0;
	opacity: 0.9;
}
.lighttext:hover, .darktext:hover {
	text-decoration: inherit;
}
.lighttext {
	color: #FFEDE1;
}
.lighttext:hover {
	color: #AFCBFF;
}
.darktext {
	color: #0E1C36;
}
.darktext:hover {
	color: #AFCBFF;
}
.pricing > div.container-fluid > .card {
	flex: 100%;
	border: 1px solid rgb(71, 71, 71);
	margin: 2em;
}
.pricing > div.container-fluid > .card > img {
	margin: auto;
}
.pricing > div.container-fluid > .card > .card-body > .card-title,
.clientReviews > .display-4 {
	line-height: 1.5em;
}
.pricing > div.container-fluid > .card > .card-body > .card-text {
	line-height: 1.8em;
}
.pricing > div.container-fluid > .card > .card-body > .card-title {
	color: #001524;
	font-weight: 500;
	text-align: center;
}
.pricing > div.container-fluid > .card > .card-body > .card-text {
	text-align: center;
	color: #001524;
}
.pricing > div.container-fluid > .pro {
	box-shadow: 10px 10px #FF7D00;
}
.clientReviews > #clientRev > .carousel-inner > .carousel-item > .blockquote > p {
	color: #0E1C36;
}
footer.footer {
	background-color: #0E1C36;
}
footer.footer p {
	color: #FFEDE1;
}
h1, h2, h3, h4, .clientReviews > .display-4, .scrollDown {
	color: #0E1C36;
}
h1, h2, h3, h4 {
	font-family: 'Spartan', sans-serif;
	font-weight: 200;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.8em;
}
h4 {
	font-size: 1.5em;
}
.blockquote > p::before {
	content: "\201C"
}
.blockquote > p::after {
	content: "\201D";
}
.logo1 {
	max-width: 100%;
	height: auto;
}
.thumbnail {
	max-width: 25%;
}

@keyframes scrollDown {
	0% {opacity: 0; transform: translateY(-10%);}
	30% {opacity: 0.8;}
	100% {transform: translateY(0%);}
}
@media screen and (min-width: 1742px) {
	h1 {
		font-size: 3.5em;
	}
	h2 {
		font-size: 3em;
	}
	h3 {
		font-size: 2.5em;
	}
	h4 {
		font-size: 2em;
	}
}
@media screen and (min-width: 2115px) {
	h1 {
		font-size: 4.5em;
	}
	h2 {
		font-size: 4em;
	}
	h3 {
		font-size: 3.5em;
	}
	h4 {
		font-size: 3em;
	}
}
@media screen and (max-width: 1020px) {
	.navbar, .navbar-nav {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media screen and (max-width: 991px) {
	.logo1 {
		display: none;
	}
}
@media screen and (max-width: 1180px) {
	.pricing > div.container-fluid {
		flex-wrap: wrap;
	}
	.pricing > div.container-fluid > .card {
		margin: 1.9em;
		flex: 35%;
	}
	.pricing > div.container-fluid > .team {
		max-width: 50%;
	}
}
@media screen and (max-width: 786px) {
	.stickyNav > .navbar  {
		justify-content: center;
	}
	.pricing > div.container-fluid > .card {
		flex: 100%;
	}
	.pricing > div.container-fluid > .team {
		max-width: 100%;
	}
}
@media screen and (max-width: 540px) {
	h1 {
		font-size: 1.9em;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 1.3em;
	}
	.clientReviews .display-4 {
		font-size: 2em;
		text-align: center;
	}
	#clientRev > .carousel-inner > .carousel-item > .blockquote {
		font-size: .9em;
	}
}